*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    overflow:auto;
}
input{
    width:100%;
    border:none;
    padding:10px;
}
.containerbox{
    display: grid;
    grid-template-columns: auto;
}
.container2{
    display: grid;
    grid-template-columns: auto;
}

input{
    width:100%;
    padding:10px;
    text-transform: uppercase;
}
.card{
    padding:10px;
    margin:10px;
    background:whitesmoke;
    position: relative;
    text-align: center;
}

img{
    width:100%;
    height:300px;
}
.info{
    position: fixed;
    top:0;
    right:0;
    left:0;
    opacity:0;
    bottom:0;
    background:lightblue;
    pointer-events: none;
    z-index: 100;
    padding:50px 20px;
    text-align: center;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width:none;
}

.info::-webkit-scrollbar {
    display: none;
  }
.info > p{
    margin:10px
}
.info.show{
    opacity:1;
    pointer-events: auto;
}

.closebtn{
    position: absolute;
    right:0;
    top:0;
    border:none;
    padding:10px;
    background:darkcyan;
    color:white;
    text-transform: uppercase;
}
#tags{
    display:flex;
}
.tag.highlight{
background:coral;
}
.tag{
    background:deepskyblue;
    width:100%;
    border:none;
    color:white;
    padding:5px 0;
}
.rating{
    display: flex;
    justify-content: space-between;
    padding:0 10px;
}
.orange{
    color: orange;
}
.green{
    color:green;
}
.red{
    color:red;
}
.date{
    display:flex;
    justify-content: center;
}
.date p{
    margin:0 10px;
}
.infoimg{
    width:50%;
    height:20%;
}
@media screen and (min-width:720px){
    .containerbox{
        grid-template-columns: auto auto auto;
    }
    .container2{
        grid-template-columns: auto auto auto;
    }
    .img{
        height:300px;
    }
    .infoimg{
        height:50%;
    }
    .navlink{
        display:flex !important;
    }
}

@media screen and (min-width:1020px){
    .containerbox{
        grid-template-columns: auto auto auto;
    }
    .container2{
        grid-template-columns: auto auto auto;
    }
    .img{
        height:400px;
    }
    .infoimg{
        width:30%;
        height:50%;
    }
}

@media screen and (min-width:1440px){
    .containerbox{
        grid-template-columns: auto auto auto auto auto;
    }
    .container2{
        grid-template-columns: auto auto auto auto auto;
    }
    .img{
        height:400px;
    }
    .infoimg{
        width:30%;
        height:60%;
    }
}
.navlink{
    display:none !important;
}
.navlink.show{
display:block !important;
    position: absolute;
    top:100px;
    right:0;
    left:0;
    bottom:0;
    z-index:100;
    text-align:center;
}

@media screen and (min-width:720px){
#result{
grid-template-columns: auto auto auto;
}
.info{
    padding:50px;
}
.infoimg{
    width:50%;
    height:300px;
}
.nofound{
    position: relative;
    left:50%;
}
.navlink{
    display:flex !important;
}
.tag{
    font-size: 20px;
}
}
@media screen and (min-width:1020px){
    #result{
        grid-template-columns: auto auto auto auto;
    }
    .infoimg{
        height:300px;
    }
    .nofound{
        position: relative;
        left:80%;
    }
}
@media screen and (min-width:1440px){
    img{
        height:400px;
    }
    .infoimg{
        width:300px;
        height:300px;
    }

    .nofound{
        position: relative;
        left:110%;
    }
    #result{
        grid-template-columns: auto auto auto auto auto;
    }
    }
    
