*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html body{
    background:burlywood;
}

main{
    padding:20px;
}
a{
    color: white !important;
    text-decoration: none !important;
}
.navlink{
    display:none !important;
}
.navlink.show{
display:block !important;
    position: absolute;
    top:100px;
    right:0;
    left:0;
    z-index: 100;
    bottom:0;
    text-align:center;
}
.menubaricon{
    width:20px;
    height:20px;
}
header{
    font-size: 20px;
    font-weight: bold;
    color:orange;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    font-size: 15px;
    position: relative;
}
.nav-item{
    background:darkcyan;
    border:4px solid white;
    margin:0 10px;
}
.pro{
    border:4px solid darkslategrey !important;
}
.lni-crown{
    font-size: 30px !important;
    color:orange !important;
}
@media screen and (min-width:720px){
    .navlink{
        display:flex !important;
    }
    .menubar{
        display:none;
    }
}

@media screen and (min-width:1020px){
    main{
        margin: 100px auto;
    }
    header{
        font-size: 30px;
    }
}