*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background:darkcyan ;
    overflow:auto;
}
input{
    width:100%;
    border:none;
    padding:10px;
}
.img{
    cursor: pointer;
    height:250px;
    width:100%;
}
.img:hover{
 filter: brightness(50%);
}
#result{
    display:grid;
    grid-template-columns: auto;
    padding:10px;
    grid-gap:20px;
    margin:10px 0;
    text-align:center;
}
#result > div{
    position: relative;
    padding:10px;
    overflow: hidden;
}
.card{
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.5);
    border-radius: 5px;
    background:whitesmoke;
}
.score{
    display:flex;
    justify-content: space-between;
    padding:5px 0;
}
.score p:nth-child(2){
    background:grey;
    padding:5px;
    border-radius: 5px;
}
.red{
    color:red;
}
.green{
    color:green;
}
.orange{
    color:orange;
}
.info{
    position: fixed;
    bottom:0;
    width:100%;
    height:0%;
    left:0;
    right:0;
    padding:10px 20px;
    background:darkseagreen;
    color:white;
    opacity:0;
    transition:1s all;
    z-index:100;
}
.info > div{
 margin:50px auto;   
}
.info.show{
    opacity:1;
    height:100%;
}
.infoimg{
    width:100%;
    height:300px;
}

.closebtn{
    position: absolute;
    top:0;
    right:0;
    border:none;
    background:darkcyan;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color:white;
}
.dates{
    display:flex;
    justify-content: center;
}
.dates p{
    margin:0 5px;
}
#tags{
    display:flex;
}
.tag{
    border:none;
    background:lightblue;
    padding:5px;
    width:100%;
}
.tag.highlight{
    background:green;
}

@media screen and (min-width:720px){
#result{
grid-template-columns: auto auto auto;
}
.info{
    padding:50px;
}
.infoimg{
    width:50%;
    height:300px;
}
}
@media screen and (min-width:1020px){
    #result{
        grid-template-columns: auto auto auto auto;
    }
    .infoimg{
        height:300px;
    }
}
@media screen and (min-width:1440px){
    img{
        height:400px;
    }
    .infoimg{
        width:300px;
        height:300px;
    }
    
    #result{
        grid-template-columns: auto auto auto auto auto;
    }
    }
    

    
