// media queries
@mixin for-size($size){

    @if $size == tablet{
        @media (min-width:720px){
            @content;
        }
    }
        @else if $size == med-screen{
            @media (min-width:1020px){
                @content;
            }
        }
            @else if $size == desktop{
                @media (min-width:1440px){
                    @content;
                }
    }
    }

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background:darkcyan;
}
input{
    width:100%;
    padding:10px;
    border:none;
}
.animeshow{
    display:grid;
    grid-gap:10px;
    padding:10px 0;
    text-align: center;

    div{
        background:whitesmoke;
        padding:10px;
    }

    img{
        width:100%;
        height:300px;
    }
}

.movie-list{
    background:darkcyan;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    overflow:auto;
    position:fixed;
    visibility: hidden;
    display:flex;
    justify-content: center;
    text-align: center;
    padding:20px;
    scroll-behavior:smooth;
    scrollbar-width:none;
    
    button{
        position: absolute;
        top:0;
        right:0;
        background:deepskyblue;
        border:none;
        padding:10px 20px;
        color:white;
    }

.date{
        display: flex;
        justify-content: space-between;
        width:100%;
        justify-content: center;
    *{
        margin:10px;
    }
    }
}
.rating{
    display:flex;
    justify-content: space-between;
}
.orange{
    color:orange;
}
.green{
    color:green;
}
.red{
    color:red;
}
@include for-size(tablet){

    .animeshow{
        grid-template-columns: auto auto auto;
    }

}

@include for-size(desktop){
    .animeshow{
        grid-template-columns: auto auto auto auto;
    }
}

