* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: burlywood !important;
  overflow-x: hidden;
}

.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks {
  border: none;
  background: transparent;
  font-size: 20px;
}

.navbar-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: whitesmoke;
}

.centerintro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  font-size: 20px;
  color: white;
}

.centerintro .col {
  text-align: center;
  color: white;
}

.centerintro .col .col img {
  width: 50px;
  height: 50px;
}

.centerintro .col i {
  font-size: 20px !important;
  color: white !important;
}

.centerintro .animecollection {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  color: white;
}

.centerintro .animecollection button {
  border: 4px solid white;
  background: darkcyan;
  color: white;
  font-size: 20px;
}

.backgroundimages {
  position: absolute;
  z-index: -100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.backgroundimages img {
  width: 50vw;
  height: 100vh;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.secondpage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondpage img {
  width: 100%;
  height: 100%;
}

.secondpage h2 {
  margin: 50px 20px !important;
}

.animelist {
  text-align: center;
  padding: 50px 0;
}

.animelist .animelist h2 {
  margin: auto 20px !important;
}

.animelist .animeshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  overflow: hidden;
}

.animelist .animeshow img {
  width: 30vw;
  height: 30vh;
  margin: 5px;
  position: relative;
  left: -20px;
  -webkit-animation: scrollinfinite 200s linear infinite;
          animation: scrollinfinite 200s linear infinite;
}

@-webkit-keyframes scrollinfinite {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 20));
            transform: translateX(calc(-250px * 20));
  }
}

@keyframes scrollinfinite {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 20));
            transform: translateX(calc(-250px * 20));
  }
}

.accordionpage {
  text-align: center;
  margin: 50px 0;
}

.accordionpage button {
  background: burlywood !important;
}

.accordionpage .accordion-body {
  text-align: left;
}

.footerflex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 10px;
}

.footerflex h2 {
  font-size: 20px;
  font-weight: bold;
}

.footerflex ul {
  list-style: none;
  font-size: 15px;
}

.questions {
  text-align: center;
  padding: 20px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social i {
  margin: 20px 10px;
  color: white;
  font-size: 30px;
}

.accountform {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

input {
  border: none;
  padding: 10px;
}

.Signup {
  display: none;
}

a {
  text-decoration: none !important;
}

.pro {
  border: 4px solid darkslategrey !important;
}

.lni-crown {
  font-size: 30px !important;
  color: orange !important;
}

.pricing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
}

#Explore {
  margin: 70px auto;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
}

.container2, .genre {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  padding: 10px 0;
  text-align: center;
}

.container2 .movieEl, .container2 .card, .genre .movieEl, .genre .card {
  background: whitesmoke;
  padding: 10px;
  position: relative;
}

.container2 .movieEl button, .container2 .card button, .genre .movieEl button, .genre .card button {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
  border: none;
}

.container2 img, .genre img {
  width: 100%;
  height: 300px;
}

.info {
  position: fixed;
  display: none;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 20px;
  text-align: center;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  z-index: 100;
  background: darkcyan;
}

.info * {
  margin: 10px;
}

.info button {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  background: deepskyblue;
  color: white;
  border: none;
  padding: 10px 20px;
}

.info img {
  width: 300px;
  height: 300px;
}

.info.show {
  display: block;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.date * {
  margin: auto 10px;
}

.movie-list {
  background: darkcyan;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  position: fixed;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.movie-list .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: deepskyblue;
  border: none;
  padding: 10px 20px;
  color: white;
}

.movie-list .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie-list .date * {
  margin: 10px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.red {
  color: red;
}

#tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag.highlight {
  background: coral;
}

.tag {
  background: deepskyblue;
  width: 100%;
  border: none;
  color: white;
  padding: 5px 0;
}

.favlist {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favlist img {
  width: 300px;
  height: 300px;
}

.favlist div {
  background: whitesmoke;
  padding: 10px;
}

.otherframe {
  display: none;
}

.count {
  display: none;
}

.animefav {
  display: none;
}

.favinfo {
  background: darkcyan;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.favinfo button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: deepskyblue;
  padding: 5px 10px;
}

@media (min-width: 720px) {
  .container2, .genre {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .movie-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .footerflex {
    font-size: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerflex .h2 {
    font-size: 20px;
  }
  .savelist {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1020px) {
  .navbar-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: transparent;
  }
  .navbar-tabs button {
    border: 4px solid white;
    background: darkcyan;
    color: white;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 5px;
  }
  .row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto auto auto auto !important;
        grid-template-columns: auto auto auto auto !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 100px !important;
  }
  .row .col {
    width: 100% !important;
  }
  .backgroundimages img {
    width: 40vw;
  }
  .pricing {
    margin-left: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .animeshowlist, .genreselector {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .movie-list {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  .img {
    height: 400px;
  }
  .infoimg {
    width: 30%;
    height: 50%;
  }
  .favlist img {
    width: 100%;
  }
  .favlist div {
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .backgroundimages img {
    width: 100%;
  }
  img {
    height: 100vh;
  }
  .social i {
    font-size: 30px !important;
  }
  .container2, .genre {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}
/*# sourceMappingURL=style.css.map */